@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Clientes</h1>

<form action="/Cliente/Index" method="post">
	<label>Nome</label>
	<input type="text" name="nome"/>
	<label>Sobrenome </label>
	<input type="text" name="sobrenome"/>
	<label>eMail </label>
	<input type="text" name="email"/>
	<input type="submit" value="Enviar"/>
</form>